<!doctype html>
<html lang="ja">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>商品を追加</title>
  </head>
  <body>
    <h1>商品を追加</h1>
    <form method="post" enctype="multipart/form-data">
      <label for="name">商品名</label>
      <input type="text" name="name" id="name" required><br>
      <label for="price">価格</label>
      <input type="number" name="price" id="price" required><br>
      <label for="detail">詳細</label>
      <textarea name="detail" id="detail" required></textarea><br>
      <label for="img">画像</label>
      <input type="file" name="img" id="img" required><br>
      <button type="submit">追加</button>
    </form>
  </body>
</html>
