/* detail.html の CSS */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    padding: 20px;
    max-width: 600px;
    margin: 0 auto;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

#productDetail {
    text-align: center;
    margin-bottom: 20px;
}

.product-card {
    padding: 10px;
    text-align: center;
    width: 200px;
    height: 200px;
    margin-bottom: 10px;
}

#addToCartButton {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
}

#returnButton {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    background-color: #28a745;
    color: white;
    border: none;
    cursor: pointer;
}

#purchaseButton {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    background-color: #28a745;
    color: white;
    border: none;
    cursor: pointer;
}

#addToCartButton:hover {
    background-color: #0056b3;
}