* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

header {
    background: #333;
    color: #fff;
    padding: 1rem 0;
}

header .container {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h1 {
    margin: 0;
}

nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    margin-left: 1rem;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

section {
    padding: 2rem 0;
}

.container {
    width: 80%;
    margin: 0 auto;
}

h2 {
    margin-bottom: 1rem;
}

footer {
    background: #333;
    color: #fff;
    padding: 1rem 0;
    text-align: center;
}

footer .container {
    width: 80%;
    margin: 0 auto;
}

/* カードのスタイル */
.card {
    margin-bottom: 20px;
}

.card-header {
    background-color: #343a40;
    color: #fff;
}

.card-body {
    background-color: #f8f9fa;
}

.card-title {
    font-size: 1.5rem;
    font-weight: bold;
}

.card-text {
    font-size: 1.1rem;
    line-height: 1.5;
}

.language-icons {
    display: flex;
    gap: 10px;
    justify-content: center;
    margin: 10px;
}

.language-icons img {
    width: 60px;
    height: 60px;
    object-fit: contain;
}

/* ボタンのスタイル */
.btn-primary {
    background-color: #007bff;
    border-color: #007bff;
}

.btn-primary:hover {
    background-color: #0056b3;
    border-color: #004085;
}

/* トップに戻るボタンのスタイル */
#scrollToTopBtn {
    display: none; /* 初期は非表示 */
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 99;
    border: none;
    outline: none;
    background-color:#343a40;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 50%;
    font-size: 18px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s;
}

#scrollToTopBtn:hover {
    background-color:#333;
}
