<!doctype html>
<html lang="ja">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>商品リスト</title>
  </head>
  <body>
    <h1>商品リスト</h1>
    <ul>
      {% for product in products %}
        <li>
          <h2>{{ product.name }}</h2>
          <p>価格: {{ product.price }}円</p>
          <img src="{{ url_for('static', filename='img/' ~ product.img) }}" alt="{{ product.name }}" style="width: 100px;">
          <p>{{ product.detail }}</p>
        </li>
      {% endfor %}
    </ul>
  </body>
</html>
